@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-image:url("Images/mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:  rgba(116, 196, 224, 0.4);
}

form{
    max-width:550px;
    width:90%;
    background-color: white; 
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}
h1{
    margin: 0;
    text-align:center;
}
label{
    display: block;
    margin: 20px 0; 
}
input, textarea{
    width: 100%;
    padding:  10px;
    box-sizing: border-box;
    outline: none;
    resize:  none;
    border:  none;
    border-bottom:1px solid #D3D3D3;

}

input[type= "text"]:focus, textarea:focus{
    border-bottom: 1px solid  rgb(116, 196, 224);
}


textarea::-webkit-scrollbar{
    width: 4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color:  rgb(116, 196, 224);
}

.center{
    text-align: center;

}
input[type="submit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(116, 196, 224), rgb(74, 135, 175));
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: red;
}
 .error-border{
    border-bottom: 1px solid red;
 }
 #success{
    color:#28A745;
 }
