@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Spartan' , sans-serif ;
}
h1{
    font-size: 50px ;
    line-height: 64px ;
    color: black ;
}
h2{
    font-size: 46px ;
    line-height: 54px ;
    color: black ;
}
h3{ 
    font-size: 34px ;
    line-height: 44px ;
    color : black ;
}
h4{
    font-size : 20px ;
    color : black ;
}
h6{
    font-weight : 700 ;
    font-size : 12px ;
}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px ;
    line-height: 54px;
    color: black;
}
h3{
    font-size: 34px ;
    line-height: 44px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
    padding: 10px 80px;
    z-index: 1000;
}
header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .navbar ul li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
    float: left;

}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
header .navbar ul li a:hover{
    background-color: #088178;
    color: #fff;
}
header .navbar ul li ul{
    position: absolute;
    left:0;
    width:200px;
    background: #fff;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.06);


}
header .navbar ul li ul li ul{
    left:200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;

}
 *{
    margin:0px;
    padding:0px;
    border:0px;
 }
body{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffff 0% #e5e5e5);
    background: -webkit-linear-gradient(top, #ffff 0% #e5e5e5);
    background: linear-gradient(top bottom,  #ffff 0% #e5e5e5);
    filter: progid:DXImageTransform.gradient(starColorstr='#ffffff', endColorstr='e5e5e5',GradientType=0);
}
#nav{
    list-style-type:none;
    z-index: 150;
}
#nav li a{
    display: block;
    width:58px;
    height:102px;
    text-indent:-9999px;
    outline:none;
}
#prev a{
    background: url();
    width:100px;
    height: 200px;
    position: absolute;
    top:240px;
    left:-70px
}

#next a:hover{
        background-color: #088178;
        color: #fff;
    }
    #next a:hover{
        background-color: #088178;
        color: #fff;
    }
 /*video*/
 #wrapper { 
    width: 920px; 
    height: 350px; 
    margin: 0 auto; 
} 

#home1 { 
    width: 400px; 
    height: 300px; 
    float: left; 
} 

#home2 { 
    width: 400px; 
    height: 300px; 
    float: right; 
}

@media (max-width:767px) {
    .home1 {
        position: relative;
        padding-bottom: 56.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }
    .home2 {
        margin-left: 0;
    }
}


 footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .column{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;

}
footer .logo{
    margin-bottom: 30px;
    
}
footer h4{
    font-size: 14px;
    margin-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 20px;
}
footer .followus{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0; 
}
 
/*  to be changed*/
 
 footer .followus i:hover,
footer  a :hover
        {
         color: #088178;
       }
       footer .copyright{
        width: 100%;
        text-align: center;
       }
